body {
    background-image: url("https://www2.d125.org/applied_arts/teched/courses/WEB/portfolios/2014_FallP8/Rami_Portfolio_Period8/unit4_css/project_1folder/cssProject1/background.jpg");
}

.container {
    background-color: #444444;
    width: 70%;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
}

.heading-txt {
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.animal-img {
    padding: 15px;
    border-radius: 35px;
}

.animal-img:hover {
    opacity: 1;
    transition: opacity 1s ease-in;
    transform: scale(1.1);
    transform: rotateY(200deg);
    transform: rotateX(180deg);
}